<p> Hello, {{username}}. This is the checkout page</p>
<h2>Items to checkout:</h2>
<ul class="products">
    <li *ngFor="let product of cartproducts">
        <span class ="badge">{{product.id}}</span>{{product.name}}
    </li>
</ul>

<div *ngIf="empty == true">
  <p> Your cart is empty!</p>
</div>
<div *ngIf="empty == false">
  <p> Total: {{total}}</p>
  <button type="button" (click)="checkOut()">Checkout</button>
  <input id="code" [(ngModel)]="discountIn" placeholder="Discount Code">
  <button type="button" (click)="update()">Apply Discount</button>
</div>
<hr>
<button type="button" (click)="goBack()">go back</button>